
.navbar{
    height: 400px;
}
.container-fluid{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap:10px;
    justify-content: left;
    align-items: flex-start;
   
}

#time-section{
    display: flex;
    justify-content:space-between;
    align-items:center;
}

.customized-sec{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items:flex-start;
    gap: 10px;
}

span{
   font-size: 10rem;
   opacity: 50%;
}

.btn{
    border-radius: 50%;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2rem;
    margin: 4px 2px;
    cursor: pointer;
}